* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Nunito', sans-serif;
}

/* header */

header {
    width: 100%;
    height: auto;
    background-color: rgb(231, 228, 228);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-offers-strip {
    width: 100%;
    height: auto;
}

.offers-strip {
    width: 100%;
    height: 100%;
    background-color: black;
    color: #ff8700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers-strip p {
    padding: 8px 0;
    font-size: 12px;
    color: #ff8700;
}

.main-header {
    padding: 7px 0;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
    /* position: sticky;
    top: 0%; */
}

.logo {
    width: 65px;
    height: 65px;
    margin-left: 50px;
}


.logo img {
    border-radius: 100%;
}

.categories {
    width: 610px;
    height: auto;
    padding: 10px 0;
}

.categories nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories nav ul a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.header-icon-list {
    margin-right: 45px;
    width: 150px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 50px;
    height: 100%;
}

.search-icon {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-icon {
    color: black;
}


/* CART */



/* CART */
#cart-icon{
    /* height: 50px; */
    font-size: 23px;
    padding: 0 0 3px 0;
}
.cart {
    position: absolute;
    top: 110px;
    height: 100vh;
    right: -100%;
    width: 360px;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: .3s;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}

.cart::-webkit-scrollbar {
    display: none;
}

.cart.active {
    display: block;
    right: 0;
    top: 100px;
    z-index: 1;
    background-color: #fff;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

/* .cart-content{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
} */
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid #000;
    outline-color: #ff8700;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: #ff8700;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #000;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #ff8700;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #000;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}





/* .cross-icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    box-shadow: 0 0 10px hsl(0 4% 15% / 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation-name: round;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
}

.cross-icon:hover {
    box-shadow: 0 0 7px hsl(0 4% 15% / 100%);
    animation-name: round-second;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;

} */

/* @keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes round-second {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
} */





/* footer */

.space-for-footer {
    /* position: sticky;
    bottom: 0%; */
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.87);

}

.universal-footer {
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-universal-footer {
    width: 94%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.know-us {
    /* margin: 0 0 50px 50px; */
    width: 155px;
    height: 200px;
}

.know-us h3 {
    font-size: 15px;
}

.know-us nav {
    margin-top: 10px;
}

.know-us nav ul {
    padding: 10px 0 10px 0;
}

.know-us nav ul a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.terms-cond {
    /* margin-bottom: 50px; */
    width: 160px;
    height: 200px;
}

.for-padding {
    margin: -10px 0 0 0;
}

.terms-cond nav ul {
    padding: 10px 0 10px 0;
}

.terms-cond nav ul a {
    font-size: 15px;
    color: white;
}

.contact {
    /* margin-bottom: 50px; */
    width: 215px;
    height: 200px;
}

.contact-email {
    margin-bottom: 15px;
}

.contact-email p {
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}

.contact-email p a {
    font-size: 15px;
    color: white;
}

.contact-phone-to-quries {
    margin-bottom: 15px;
}

.contact-phone-to-quries p {
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}

.contact-phone-to-quries p a {
    font-size: 15px;
    color: white;
}

.contact-phone-to-distributor p {
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}

.contact-phone-to-distributor p a {
    font-size: 15px;
    color: white;
}

.follow-us {
    /* margin-bottom: 50px; */
    width: 185px;
    height: 200px;
}

.follow-us h3 {
    width: 100%;
    height: 20%;
    font-size: 15px;
    text-align: center;
}

.fab-ins {
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-around;

}

.container-forboth-insta-fab {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 10px;
}

.social-media__link {
    width: 60px;
    height: 60px;
    display: inline-block;
    color: white;
}

.newsletter {
    /* margin: 0 50px 50px 0; */
    width: 300px;
    height: 200px;
}

.newsletter h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-e-mail {
    width: 300px;
    height: 40px;
    font-size: 15px;
    outline: none;
    background-color: black;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.87);
    ;
}

.universal-footer-2nd {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-and-copy {
    margin: 0 0 20px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-name {
    margin-left: 50px;
    font-size: 15px;
}

.footer-copy {
    margin-right: 50px;
    font-size: 15px;
}
