@media screen and (max-width: 935px) {
    .customization-boxes {
        padding: 0px;
    }

    .custom-brand-product-list {
        width: 95%;
    }
}

@media screen and (max-width: 900px) {
    .close-products {
        top: 112px;
    }

    .firstBoxAllProductsCheck {
        left: 190px;
    }

    .secondBoxAllProductsCheck {
        left: 162px;
    }

    .thirdBoxAllProductsCheck {
        left: 133px;
    }

    .for-brand-logo-name-custom {
        margin-top: 45px;
    }


    .for-brand-logo-under-custom img {
        width: 120px;
        height: 120px;
    }

    .custom-heading {
        width: 450px;
        padding: 8px;
        font-size: 20px;
    }

    .for-customize-button {
        padding: 10px;
    }

    .for-customize-button button {
        width: 150px;
        height: 45px;
        font-size: 15px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 233px;
        height: 330px;
    }

    .first-custom-brand-product-listImage {
        width: 215px;
        height: 215px;
    }
}

@media screen and (max-width: 830px) {
    .customization-boxes {
        margin: 50px auto;
        width: 90%;
    }

    .custom-brand-product-list {
        width: 100%;
    }
}

@media screen and (max-width: 788px) {
    .customization-boxes {
        width: 95%;
    }

    .firstBoxAllProductsCheck {
        left: 183px;
    }

    .secondBoxAllProductsCheck {
        left: 154px;
    }

    .thirdBoxAllProductsCheck {
        left: 126px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 226px;
        height: 326px;
    }

    .first-custom-brand-product-listImage {
        width: 208px;
        height: 208px;
    }
}

@media screen and (max-width: 780px) {
    .custom-heading {
        width: 375px;
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    .firstBoxAllProductsCheck {
        left: 175px;
    }

    .secondBoxAllProductsCheck {
        left: 146px;
    }

    .thirdBoxAllProductsCheck {
        left: 118px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 218px;
        height: 315px;
    }

    .first-custom-brand-product-listImage {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 743px) {
    .firstBoxAllProductsCheck {
        left: 147px;
    }

    .secondBoxAllProductsCheck {
        left: 118px;
    }

    .thirdBoxAllProductsCheck {
        left: 90px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 190px;
        height: 285px;
    }

    .first-custom-brand-product-listImage {
        width: 172px;
        height: 172px;
    }

    .custom-brand-product-cart {
        right: -47%;
    }
}

@media screen and (max-width: 680px) {
    .for-brand-logo-under-custom img {
        width: 112px;
        height: 112px;
    }

    .custom-heading {
        width: 320px;
        font-size: 15px;
    }

    .for-customize-button button {
        width: 125px;
        height: 42px;
    }
}

@media screen and (max-width: 659px) {
    .firstBoxAllProductsCheck {
        left: 117px;
    }

    .secondBoxAllProductsCheck {
        left: 88px;
    }

    .thirdBoxAllProductsCheck {
        left: 60px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 160px;
        height: 250px;
    }

    .first-custom-brand-product-listImage {
        width: 142px;
        height: 142px;
    }

    .product-title {
        font-size: 13px;
    }

    .custom-brand-product-cart {
        right: -40%;
    }
}

@media screen and (max-width: 640px) {
    .customization-boxes {
        width: 100%;
    }
}

@media screen and (max-width: 610px) {
    .headings-of-customization-boxes {
        font-size: 16px;
    }

    .custom-boxes {
        width: 180px;
        height: 180px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram {
        width: 70px;
        height: 70px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram p {
        font-size: 12px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram {
        width: 70px;
        height: 70px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram p {
        font-size: 12px;
    }

    .custom-box-for-two-parts-of-thousand-gram {
        width: 180px;
        height: 90px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram {
        width: 72.5px;
        height: 72.5px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram p {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .custom-brand-product-list {
        width: 100%;
    }

    .for-brand-logo-name-custom {
        margin-top: 125px;
    }

    .for-brand-logo-under-custom {
        margin: 0;
        position: absolute;
        top: 120px;
    }

    .for-brand-logo-under-custom img {
        width: 108px;
        height: 108px;
    }

    .custom-heading {
        width: 390px;
    }

    .for-customize-button {
        position: absolute;
        top: 260px;
    }

    .for-customize-button button {
        width: 105px;
        height: 35px;
        font-size: 13px;
    }

    .firstBoxAllProductsCheck {
        left: 107px;
    }

    .secondBoxAllProductsCheck {
        left: 78px;
    }

    .thirdBoxAllProductsCheck {
        left: 50px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 150px;
        height: 240px;
    }

    .first-custom-brand-product-listImage {
        width: 132px;
        height: 132px;
    }

    .product-title {
        font-size: 12px;
    }

    .custom-brand-product-price {
        font-size: 13px;
        left: 0%;
    }

    .custom-brand-product-cart {
        font-size: 16px;
        font-weight: 600;
        right: -56%;
    }

    .first-list-of-custom-brand-product-for-a {
        margin: 22px 5px;
    }
}

@media screen and (max-width: 560px) {
    .headings-of-customization-boxes {
        font-size: 15px;
    }

    .custom-boxes {
        width: 170px;
        height: 170px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram {
        width: 65px;
        height: 65px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram p {
        font-size: 11px;
        padding-top: 25px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram {
        width: 65px;
        height: 65px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram p {
        font-size: 11px;
        padding-top: 25px;
    }

    .custom-box-for-two-parts-of-thousand-gram {
        width: 170px;
        height: 85px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram {
        width: 65.5px;
        height: 65.5px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram p {
        font-size: 11px;
    }
}

@media screen and (max-width: 520px) {
    .headings-of-customization-boxes {
        font-size: 14px;
    }

    .custom-boxes {
        width: 150px;
        height: 150px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram {
        width: 56px;
        height: 56px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram p {
        font-size: 10px;
        padding-top: 19px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram {
        width: 56px;
        height: 56px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram p {
        font-size: 10px;
        padding-top: 19px;
    }

    .custom-box-for-two-parts-of-thousand-gram {
        width: 150px;
        height: 75px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram {
        width: 55.5px;
        height: 55.5px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram p {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .for-brand-logo-under-custom {
        top: 125px;
    }

    .for-brand-logo-under-custom img {
        width: 100px;
        height: 100px;
    }

    .custom-heading {
        width: 360px;
        font-size: 14px;
    }

    .firstBoxAllProductsCheck {
        left: 87px;
    }

    .secondBoxAllProductsCheck {
        left: 58px;
    }

    .thirdBoxAllProductsCheck {
        left: 30px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 130px;
        height: 200px;
    }

    .first-custom-brand-product-listImage {
        width: 112px;
        height: 112px;
    }

    .custom-brand-product-cart {
        right: -48%;
    }
}

@media screen and (max-width: 460px) {
    .headings-of-customization-boxes {
        font-size: 13px;
    }

    .custom-boxes {
        width: 130px;
        height: 130px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram {
        width: 50px;
        height: 50px;
    }

    .custom-box-one-of-four-of-thousand-gram {
        top: 12px;
        left: 12px;
    }

    .custom-box-two-of-four-of-thousand-gram {
        top: 12px;
        left: 10px;
    }

    .custom-box-three-of-four-of-thousand-gram {
        top: 11px;
        left: 12px;
    }

    .custom-box-four-of-four-of-thousand-gram {
        top: 11px;
        left: 10px;
    }

    .sub-partitions-for-four-parts-of-thousand-gram p {
        font-size: 9px;
        padding-top: 18px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram {
        width: 50px;
        height: 50px;
    }
    .custom-box-one-of-four-of-two-thousand-gram {
        top: 12px;
        left: 12px;
    }
    .custom-box-two-of-four-of-two-thousand-gram {
        top: 12px;
        left: 10px;
    }

    .custom-box-three-of-four-of-two-thousand-gram {
        top: 11px;
        left: 12px;
    }

    .custom-box-four-of-four-of-two-thousand-gram {
        top: 11px;
        left: 10px;
    }

    .sub-partitions-for-four-parts-of-two-thousand-gram p {
        font-size: 9px;
        padding-top: 18px;
    }

    .custom-box-for-two-parts-of-thousand-gram {
        width: 130px;
        height: 65px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram {
        width: 50.5px;
        height: 50.5px;
    }

    .sub-partitions-for-two-parts-of-thousand-gram p {
        font-size: 9px;
    }
}

@media screen and (max-width: 420px) {
    .firstBoxAllProductsCheck {
        left: 72px;
    }

    .secondBoxAllProductsCheck {
        left: 44px;
    }

    .thirdBoxAllProductsCheck {
        left: 15px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 115px;
        height: 190px;
    }

    .first-custom-brand-product-listImage {
        width: 97px;
        height: 97px;
    }

    .product-title {
        font-size: 10px;
    }

    .custom-brand-product-cart {
        right: -40%;
    }
}

@media screen and (max-width: 375px) {
    .firstBoxAllProductsCheck {
        left: 66px;
    }

    .secondBoxAllProductsCheck {
        left: 37px;
    }

    .thirdBoxAllProductsCheck {
        left: 8px;
    }

    .first-list-of-custom-brand-product-for-a {
        width: 108px;
        height: 180px;
    }

    .first-custom-brand-product-listImage {
        width: 90px;
        height: 90px;
    }

    .custom-brand-product-cart {
        right: -35%;
    }
}
