@media screen and (max-width: 360px) {

    /* Footer Media */
    .space-for-footer {
        width: 360px;
    }

    .universal-footer {
        padding-top: 25px;
    }

    .know-us {
        padding: 0 0 0 10px;
        margin: 0;
        width: 150px;
        height: 200px;
    }

    .know-us h3 {
        font-size: 13px;
    }

    .know-us nav {
        margin-top: 20px;
    }

    .know-us nav ul a {
        font-size: 13px;
    }

    .terms-cond {
        margin-bottom: 25px;
        width: 175px;
        height: 200px;
    }

    .terms-cond nav ul a {
        font-size: 13px;
    }

    .follow-us {
        margin-bottom: 25px;
        width: 164px;
        height: 160px;
    }

    .follow-us h3 {
        height: 20%;
        font-size: 15px;
    }

    .contact {
        margin-bottom: 25px;
        width: 195px;
        height: 160px;
    }

    .contact-email {
        margin-bottom: 15px;
    }

    .contact-email p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .contact-email p a {
        font-size: 13px;
    }

    .contact-phone-to-quries p {
        font-size: 13px;
    }

    .contact-phone-to-quries p a {
        font-size: 13px;
    }

    .contact-phone-to-distributor p {
        font-size: 13px;
    }

    .contact-phone-to-distributor p a {
        font-size: 13px;
    }

    .newsletter {
        margin: 0 0 0 calc(100% - 50% - 150px);
        width: 300px;
        height: 150px;
    }

    .newsletter h3 {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .footer-e-mail {
        width: 300px;
        height: 40px;
        font-size: 15px;
        outline: none;
        background-color: black;
        color: white;
        border: 2px solid rgba(0, 0, 0, 0.87);
        ;
    }

    .name-and-copy {
        margin: 15px 0 10px 0;
    }

    .footer-name {
        margin-left: 25px;
        font-size: 13px;
    }

    .footer-copy {
        margin-right: 25px;
        font-size: 13px;
    }


    /* HEADER MEDIA */
    .offers-strip p {
        padding: 7px 0;
        font-size: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        position: relative;
        left: 43%;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    .categories {
        width: 360px;
        height: 0px;
        margin-top: 100px;
        padding: 0;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.7) url('../IMG/whiteBG.jpg');
        background-size: cover;
        z-index: 1;
        border: none;
        left: -100%;
        transition: all 0.5s ease-out;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .categories.show {
        left: 0%;
        height: 100vh;
        display: block;
        visibility: visible;
    }


    
    .categories nav {
        height: 250px;
        flex-direction: column;
    }
    
    .categories nav ul a {
        font-size: 14px;
        text-decoration: none;
        /* color: #fff; */
        color: #000;
    }




    .header-icon-list {
        margin-right: 5px;
        width: 110px;
    }

    .search {
        position: relative;
        left: 31%;
    }

    #cart-icon {
        position: relative;
        left: -5%;
    }

    .account {
        position: relative;
        right: 205%;
    }

    .burger {
        width: 22px;
        height: 22px;
        position: relative;
        right: 265%;
        cursor: pointer;
    }

    .burgerLine {
        margin-top: 3px;
        width: 22px;
        height: 3px;
        background-color: #000;
        border-radius: 50px;
    }



}