@media screen and (max-width: 360px) {
    main {
        height: auto;
    }

    .for-h1-of-login {
        margin-top: 40px;
    }
    .for-h1-of-login h1 {
        font-size: 55px;
        letter-spacing: -3.15px;
    }
    .for-p-note-for-filling p {
        font-size: 12px;
    }
    .space-for-email {
        margin-top: 50px;
    }
    .e-mail {
        width: 340px;
        font-size: 17px;
    }
    .pass-code {
        width: 340px;
        font-size: 17px;
    }
    .submit {
        width: 340px;
        font-size: 20px;
    }
    .space-for-footer {
        position: relative;
        top: 60px;
    }
}